%br
%br
%br
.content-wrapper
  %section
    .container.center
      .section-heading Oops! That page couldn’t be found. Add more text
      .section-desc= link_to 'GO TO HOMEPAGE', authenticated_root_path
      %br
